body {
  padding: 1em;
  max-width: 80ch;
  font-size: 17px;

  background: rgb(250, 250, 250);
  color: rgb(25, 25, 25);
}

a {
  color: rgb(73, 104, 205);
  text-underline-offset: 0.125em;
}

@view-transition {
  navigation: auto;
}

nav {
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;

  @media print {
    display: none;
  }
}

main {
  header {
    time {
      display: block;
      font-weight: bold;
    }

    h1 {
      margin-top: 0.25em;
      width: fit-content;
      font-size: clamp(1.5em, 4vw, 2em);
    }
  }

  figure {
    break-inside: avoid;
    margin: 1.5em auto;
    max-width: min(100%, 30em);
    width: fit-content;

    img {
      max-width: 100%;
      max-height: 30em;
      border-radius: 0.25em;
    }

    figcaption {
      opacity: 0.75;
      text-wrap: balance;
      text-align: center;
      width: 100%;
      contain: inline-size;
    }
  }

  h2 {
    margin-top: 1.5em;
  }

  p {
    line-height: 1.5;
  }
}
