body {
  padding: 1em;
  max-width: 80ch;
  font-size: 17px;
  margin-inline: auto;
  scrollbar-gutter: stable both-edges;

  background: rgb(250, 250, 250);
  color: rgb(25, 25, 25);
}

a {
  color: rgb(73, 104, 205);
  text-underline-offset: 0.125em;

  &:hover,
  &:focus {
    text-decoration-style: dashed;
  }
}

@view-transition {
  navigation: auto;
}

nav {
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.5em;

  @media print {
    display: none;
  }

  a[href="/"]::before {
    content: "‹ ";
  }
}

main {
  container: article / inline-size;

  header {
    margin-block-start: 2.5em;

    time {
      display: block;
      font-weight: bold;
    }

    h1 {
      margin-block-start: 0.125em;
      width: fit-content;
      font-size: clamp(1.5em, 4vw, 2em);
    }
  }

  figure {
    break-inside: avoid;
    margin: 2em auto;
    max-width: 100%;
    width: fit-content;
    min-width: min(30ch, 100%);
    text-align: center;

    img {
      max-width: 100%;
      max-height: 17.5em;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 0.25em;

      & + & {
        margin-block-start: 0.5em;
      }
    }

    figcaption {
      opacity: 0.75;
      text-wrap: balance;
      width: 100%;
      contain: inline-size;
      padding: 0.5em 1em 0;
      box-sizing: border-box;
    }

    @container article (min-width: 60ch) {
      &.float-right {
        float: right;
        margin: 1em 0 1em 1em;
        max-width: 30ch;
      }

      &:has(img + img) {
        max-width: 100%;

        img {
          max-width: calc(50% - 0.5em);
        }

        img + img {
          margin-block-start: 0;
          margin-inline-start: 0.5em;
        }
      }
    }
  }

  h2 {
    margin-block-start: 1.5em;
    clear: both;
  }

  > p:first-of-type::first-letter {
    font-weight: bold;
  }

  p {
    line-height: 1.5;
  }
}
